* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: cornflowerblue;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    width: 50%;
    color: white;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.header-container {
    display: flex;
    justify-content: center;
    color: #5995DA;
    background-color: #D6E9FE;
}

.header {
    display: flex;
    width: 75%;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-item {
    width: 300px;
    height: 300px;
}
